{% extends "base.html" %}


{% block title %}Настройки{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col my-2"><h2>Настройки</h2></div>
    </div>
    <div class="mx-auto" style="width: 300px;">
        <form method="POST" action="" >{% csrf_token %}
            {{form.as_p}}
            <button type="submit" value="Войти" class="btn btn-primary">Сохранить</button>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %}" >{% csrf_token %}
            <button type="submit" value="Войти" class="btn btn-danger my-3">Удалить аккаунт</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col my-2">
            <p>Форма для отправки запроса админу на добавление города и специальности,
                если они отсутствуют в текущих списках. <br>После добавления на указанный вами email
                придет оповещение.
            </p>
                <p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsed" aria-expanded="false" aria-controls="collapsed">
                    Открыть форму
                  </button>
                </p>
            <div class="collapse" id="collapsed">
              <div class="card card-body">
                <div class="mx-auto" style="width: 300px;">
                    <form method="POST" action="{% url 'accounts:contact' %}" >{% csrf_token %}
                    {{contact_form.as_p}}
                    <button type="submit" value="Отправить" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
              </div>
            </div>


        </div>
    </div>

</div>
{% endblock %}
